/* .shadow {
    -moz-box-shadow:    inset 1rem 1rem 4rem #000000;
    -webkit-box-shadow: inset 1rem 1rem 4rem #000000;
    box-shadow:         inset 100px 100px 100px #000000;
 } */
.modal-content {
    /* border: solid  4px; */
    background-color: rgba(0, 0, 0, 0.336);
    background-image: linear-gradient(-180deg,rgba(0, 153, 255, 0.116) 10%, transparent 50%,  rgba(255, 0, 221, 0.116)  100%);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);

    color: white;
    /* border-radius: 1rem; */
    
    box-shadow: inset 0px 0px 0.4rem 0.1rem rgba(255, 255, 255, 0.397);
}


#my-modal-title {
    font-size: 2rem;
    font-family: valFont2;
}

.modal-content > div{
    padding: 1rem 1rem;
}



.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 4rem;
    font-family: heroic;
}


.modal-body {
    height: fit-content
}

.modal-footer {
    border-top: none;
}

.general-rules-heading {
    margin-top: 1rem;
    size: 2rem;
}

.rules3 div {
    background-color: rgba(51, 51, 51, 1);
    /* border-radius: 10px; */
    padding: 0.1rem;
    padding-left: 1rem;
    margin-top: 0.3rem;


}

#rules {
    margin-top: 2rem;
    margin-left: 0.5rem;
}

#rules p {
    margin-bottom: 0%;
    margin-top: 0%;
}


/* prizes  */


.prize-box {
    width: 12rem;
    height: 3.5rem;
    padding: 0%;
    margin: 1rem;
    background: rgba(51, 51, 51, 1);
    border-radius: 9px;
    align-items: center;
    display: flex;



}

.place-box {
    width: 3.5rem;
    height: 3.5rem;
    background: rgba(68, 68, 68, 1);
    border-radius: 9px;
    align-content: center;
}

.place {
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 153, 255);
    font-weight: 700;
}


.prize-value {
    padding-left: 1rem;
    font-size: 1.5rem;
    /* float: right; */
}

.event-details-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(47, 0, 255, 0.151);
    border-radius: 0.3rem;
    color: white;
    outline: 0;
}


.BUTTON_ROQ {
    background: #292929;
    background-image: linear-gradient(90deg,rgba(0, 153, 255, 0.116) 10%, transparent 50%,  rgba(255, 0, 221, 0.116)  100%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: min-content;
    height: max-content;
    flex: 100%;
    margin-left: 7rem;
    margin-right: 7rem;
}

.BUTTON_ROQ:hover {
    border: solid #131313 1px;
    color: #fff;
    background: #292929;
    background-image: linear-gradient(90deg,transparent 0%, rgba(0, 153, 255, 0.116) 40%,  rgba(255, 0, 221, 0.116)  60%, transparent 100%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}

.close:hover {
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}