.vs-tt{
    font-family: valFont;
}

#video-section{     
    width: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/maximalfocus-HakTxidk36I-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}
#video-section img{
    width: 100%;
    max-width: 500px;
    z-index: 20;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width:900px) {
    
    #video-section div{ 
        height: 40vh;
        background-size: contain;
    }
    #video-section div svg{ 
        width: 70px;
        height: 72px;
    }

}